@import "./sass/imports.scss";
@import "./sass/include.scss";

:root{
    --white: $white ;
    --black: $black ;
    --purple: $purple ;
    --bg-color-1: $bg-color-1 ;
    --bg-color-2: $bg-color-2;
    --bg-color-3: $bg-color-3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    background: linear-gradient(150deg, $bg-color-1 16.73%, $bg-color-2 50.04%, $bg-color-3 83.35%);
    width: $vw;
    height: $vh;
}

header{
    width: auto;
    height: 14vh;
}
.cabeçalho{
    display: $flex;
    width: $vw;
    height: 14vh;
    background-color: $black;


    .area_themeSwitcher{
        position: relative;
        top: 2.5rem;
        left: 2.5rem;
    }
    .themeSwitcher{
        background-color: $black;
        border: double $white;
        border-radius: 1vb;
        font-weight: bold;
        border: .125rem solid $white;
        color: $white;
        width: 10rem;
        height: 2rem;
        transition: .15s;
    }
    
    .themeSwitcher:hover {
        background-color: $white;
        color: $black;
        transform: scale(1.1);
    }
    
    .perfil{
        position: relative;
        top: 1.5rem;
        left: 15rem;
        .perfil_icon:hover{
            filter: brightness($filter);

        }
    }
    .links{
        @include center($flex,$center,$center);
        position: relative;
        left: 4rem;
        a {
            transition: .15s;
            text-decoration: $none;
            color: $white;
            font-size: 22px;
            margin-left: 35px;
        }
        
        a:hover{
            padding: 0.5rem;
            border: 3px solid $white;
            border-style: double;
            border-radius: 10px;

        }
    }
    
    
    .logo_area{
        margin-left: 20px;
        display: $flex;
        .logo{
            background-color: $white;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
    .serch_area{
        position: relative;
        top: 2.5rem;
        left: 10rem;
        .search{
            height: 35px;
            width: 240px;
            border: 2px solid transparent;
            border-radius: 5px;
            background-color: $black;
            &:hover{
                filter: brightness($filter);
            }
            
        }
        .submit{
        @include center($flex,$center,$center);
        width: 40px;
        height: 25px;
        cursor: pointer;
        border: 0;
        border-top-right-radius: 10px;
        position: absolute;
        top:5px;
        right: 0;
        background-color:transparent;
    
        &:hover{
            filter: brightness($filter);
        }
        i:hover{
            filter: brightness($filter)
        }
    }
    }
}

::-webkit-input-placeholder {
    color: red;
 }
@media (max-height: 600px){
    header{
        
        height: 20vh;
        width: 100vw;

        .cabeçalho{
            height: 20vh;
            width: 100vw;
        }
    }

}