@charset "UTF-8";

:root{
  --white: #fff ;
  --black: #000 ;
  --purple: #800080 ;
  --bg-color-1: #370250 ;
  --bg-color-2: #771CA3 ;
  --bg-color-3: #860068 ;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background: linear-gradient(150deg, var(--bg-color-1) 16.73%, var(--bg-color-2) 50.04%, var(--bg-color-3) 83.35%);
  width: 100vw;
  height: 100vh;
}

header {
  width: auto;
  height: 14vh;
}

.cabeçalho {
  display: flex;
  width: 100vw;
  height: 14vh;
  background-color: var(--black);
}
.cabeçalho .area_themeSwitcher {
  position: relative;
  top: 2.5rem;
  left: 2.5rem;
}
.cabeçalho .themeSwitcher {
  background-color: var(--black);
  border: double var(--white);
  border-radius: 1vb;
  font-weight: bold;
  border: 0.125rem solid var(--white);
  color: var(--white);
  width: 10rem;
  height: 2rem;
  transition: 0.15s;
}
.cabeçalho .themeSwitcher:hover {
  background-color: var(--white);
  color: var(--black);
  transform: scale(1.1);
}
.cabeçalho .perfil {
  position: relative;
  top: 1.5rem;
  left: 15rem;
}
.cabeçalho .perfil .perfil_icon:hover {
  filter: brightness(0.8);
}
.cabeçalho .links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 4rem;
}
.cabeçalho .links a {
  transition: 0.15s;
  text-decoration: none;
  color: var(--white);
  font-size: 22px;
  margin-left: 35px;
}
.cabeçalho .links a:hover {
  padding: 0.5rem;
  border: 3px solid var(--white);
  border-style: double;
  border-radius: 10px;
}
.cabeçalho .logo_area {
  margin-left: 20px;
  display: flex;
}
.cabeçalho .logo_area .logo {
  background-color: var(--white);
  margin-bottom: 10px;
  margin-top: 10px;
}
.cabeçalho .serch_area {
  position: relative;
  top: 2.5rem;
  left: 10rem;
}
.cabeçalho .serch_area .search {
  height: 35px;
  width: 240px;
  color: var(--black);
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: var(--white);
  z-index: 0;
}
.cabeçalho .serch_area .search:hover {
  filter: brightness(0.8);
}
.cabeçalho .serch_area .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  cursor: pointer;
  border: 0;
  border-top-right-radius: 10px;
  position: absolute;
  top: 5px;
  right: 0;
  background-color: transparent;
}
.cabeçalho .serch_area .submit:hover {
  filter: brightness(0.8);
}
.cabeçalho .serch_area .submit i{
  color: var(--black);
}
.cabeçalho .serch_area .submit i:hover {
  filter: brightness(0.8);
}
::-webkit-input-placeholder {
  color: var(--black);
}
@media (max-height: 600px) {
  body{
    width: 400px;
    height: 600px;
    background: linear-gradient(150deg, var(--bg-color-1) 16.73%, var(--bg-color-2) 50.04%, var(--bg-color-3) 83.35%);
  }

  header {
    height: 100px;
    width: 600px;
  }
  header .cabeçalho {
    height: 100px;
    width: 600px;
  }
  .cabeçalho .logo_area {
    margin-left: 0;
    display: flex;
  }
  header .logo{
    position:relative;
    top: 12px;
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
  header .themeSwitcher{
    width: 50px;
    height: 30px;
  }
  header .links{
    position: relative;
    top: 20px;
    right: 100px;
    width: 160px;
    height: 50px;
  }
  .cabeçalho .links a {
    position: relative;

    font-size: 11px;
    margin-left: 10px;
  }
  .cabeçalho .serch_area {
    display: none;
  }
  .cabeçalho .perfil {
      position: relative;
      top:30px;
      left: 150px;

  }
  .cabeçalho .perfil .perfil_icon{
    width: 30px;
    height: 30px;
  }
  .cabeçalho .themeSwitcher {
    display: none;
  }
  .cabeçalho .serch_area .search {
    height: 35px;
    width: 140px;
    color: var(--black);
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: var(--white);
    z-index: 0;
  }
}

/*# sourceMappingURL=style.css.map */
