:root{
    --white: #fff;
    --black: #000;
    --purple: #800080;
    --bg-color-1: #370250;
    --bg-color-2: #771CA3;
    --bg-color-3: #860068;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    background: linear-gradient(150deg, var(--bg-color-1) 16.73%, var(--bg-color-2) 50.04%, var(--bg-color-3) 83.35%);
    width: 100vw;
    height: 100vh;
}
.cabeçalho{
    display: flex;
    position: relative;
    width: 100vw;
    height: 14vh;
    background-color: var(--black);
}

.links{
    position: relative;
    top: 50px;
    left: 20rem;
}

.inicio,.monitoria,.olimpiadas,.enem,.conta,.materias{
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
}

.inicio, .materias{
    position: relative;
    right: 40px;
}
.materias{
    position: relative;
    left: 40px;

}
.olimpiadas{
    position: relative;
    left: 80px;
}

.enem{
    position: relative;
    left: 110px;
}

.conta{
    position: relative;
    left: 140px;
}

.logo{
    background-color: var(--white);
    margin-bottom: 10px;
    margin-top: 10px;
}


.logo_area{
    margin-left: 20px;
    position: relative;
    display: flex;
}

.perfil_icon{
    position: relative;
    top: 35px;
    left: 49rem;
}

.perfil_icon:hover{
    filter: brightness(0.8);
}
.links a {
    transition: .15s;
}
.links a:hover{
    padding: 0.5rem;
    border: 3px solid var(--white);
    border-style: double;
    border-radius: 10px;
}

.serch_area{
    position: relative;
    top: 48px;
    left: 38rem;
}

.search{
    height: 35px;
    width: 240px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.search:hover{
    filter: brightness(0.8);
}
