:root{
    --white: #fff;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.redes_sociais{
    font-size: 12px;
    padding-top: 7px;
    padding-left: 30px
}
.cabeçalho{
    display: flex;
    z-index: 999;
    position: relative;
    background-color: #0077B6;
}

.divulgacoes{
    background-color: black;
    height: 3vh;
}
.links{
    position: relative;
    top: 50px;
    left: 180px;
}

.inicio,.monitoria,.olimpiadas,.enem,.conta,.materias{
    text-decoration: none;
    color: var(--white);
    font-size: 30px;
}

.inicio{
    position: relative;
    right: 40px;
}
.materias{
    position: relative;
    left: 40px;

}
.olimpiadas{
    position: relative;
    left: 80px;
}

.enem{
    position: relative;
    left: 110px;
}

.conta{
    position: relative;
    left: 140px;
}

.logo{
    height: 12vh;
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.lupa{
    height: 3vh;
    width: 2vw;
    margin-top: 40px;
    margin-left: 30px;
}

.redes_sociais_frases{
    text-decoration: none;
}

.frase_logo{
    color: var(--white);
    font-size: 36px;
    position: relative;
    top: 45px;
    left: 40px;
}

.logo_frase{
    margin-left: 20px;
    position: relative;
    display: flex;
}

.perfil_icon{
    position: relative;
    top: 35px;
    left: 48.5rem;
}